name: lint, check and build

on:
  pull_request:
    branches:
      - main

env:
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_NAME: ${{ secrets.DB_NAME }}
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
  AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}
  PMP_BASE_URL: ${{ vars.PMP_BASE_URL }}
  PMP_USERNAME: ${{ secrets.PMP_USERNAME }}
  PMP_PASSWORD: ${{ secrets.PMP_PASSWORD }}

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v5

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm clean-install

      - name: run linters
        run: npm run lint

  check:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v5

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm clean-install

      - name: run checks
        run: npm run check

  build:
    runs-on: ubuntu-latest
    needs: [lint, check]
    # Only run this job on pull requests
    if: github.event_name == 'pull_request'

    steps:
      - name: checkout repository
        uses: actions/checkout@v5

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm clean-install

      - name: build application
        run: npm run build
